body {
	margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #4d4d4d;
	max-width: 960px;}

header {
	background-color: #0033cc;
}

b {
	color: #000000;
}

h1 {
	margin:0;
	padding: 15px;
	color: #ffffff;	
}

h2 {
	margin: 0;
	padding : 0 5px;
	color: #000000;
}

#keep {
	font-size: 0.8em;
	font-style: italic;
	color: red;
	margin: 0;
	padding: 0 5px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}

ul.nav li {float: left;}

ul.nav li a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

ul.nav li a:hover {background-color: #000099;}

ul.nav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.nav li:not(:first-child) {display: none;}
  ul.nav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
	body {min-width:100%;} 
	main {padding: 10px;
		min-width: 280px;}
	ul.nav.responsive {position: relative;}
	ul.nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.nav.responsive li {
    float: none;
    display: inline;
  }
  ul.nav.responsive li a {
    display: block;
    text-align: left;
  }
}

form {
	padding-left: 20px;
}

main {padding: 15px;}

.submit {
	background-color: #f2f2f2;
	color: #808080;
	border: 1px solid #808080;
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
	margin: auto;
	display: block;
}

.submit:hover{
  color: #0033cc;
  border: 1px solid #0033cc;
}

footer {
	padding-top: 10px;
	text-align: center;
	font-size: 0.6em;
	font-family: "Georgia", Times, serif;
}

.demo-container {
	box-sizing: border-box;
	width: 100%;
	height: 600px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 1.2em;
	
}

#placeholder {
	float:left;
	height: 500px;
	width: 90%;
}

#choices { 
	font-size: 0.8em;
	padding-left: 10px;
	display: inline-block;
}

#legend-container {
    border: 1px solid #E6E6E6;
    float:left;
    font-size: 0.8em;
    margin-bottom: 5px;
    padding: 5px 10px;
}